rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedCloudEmail() {
      return request.auth != null
        && request.auth.token.email in ['rebirth1013@gmail.com'];
    }

    match /users/{userId}/{document=**} {
      allow read, write: if isAllowedCloudEmail() && request.auth.uid == userId;
    }
  }
}
